.carousel-item{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}
.ui-home-function .title{
  color: #292c36;
  font-size: 40px;
  text-align: center
}
.ui-home-function .icon-item{
  margin-top: 50px;
  width: 80px;
  text-align: center
}
.ui-home-function .icon-item .icon{
  cursor: pointer;
}
.ui-home-function .icon-item .label{
  color: #292c36;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
}
.ui-home-function .flag{
  margin-top: 20px;
  width: 80px;
  height: 8px;
  background: #0099ff;
  text-align: center
}
.ui-home-function .flag img{
  width: 20px;
  margin-top: 5px
}
.ui-home-function .show-function{
  width: 100%;
  height: 520px;
  background-color: #292c36;
}
.ui-home-function .idu-item{
  background-size:cover;
  background-position: center;
  border-radius: 4px;
  width: 280px;
  height: 160px;
  margin-top: 20px;
  cursor: pointer
}
.ui-home-function .idu-item .id-panel{
  width: 280px;
  height: 160px;
  border-radius: 4px;
  background: rgba(41, 44, 54, 0.6);
  text-align: center;
  padding-top: 60px
}
.ui-home-function .idu-item .id-panel > .title{
  color: #e1e1e1;
  font-size: 25px;
}
.ui-home-function .idu-item .id-panel > .text{
  color: #e1e1e1;
  font-size: 14px;
  opacity: 0
}
@keyframes changeBg{
  0% {
    background: -webkit-linear-gradient(left bottom,rgba(41, 44, 54, 0.6),rgba(41, 44, 54, 0.6));
    background: -o-linear-gradient(left bottom,rgba(41, 44, 54, 0.6),rgba(41, 44, 54, 0.6));
    background: -mos-linear-gradient(left bottom,rgba(41, 44, 54, 0.6),rgba(41, 44, 54, 0.6));
    background: -moz-linear-gradient(left bottom,rgba(41, 44, 54, 0.6),rgba(41, 44, 54, 0.6));
    background: linear-gradient(left bottom,rgba(41, 44, 54, 0.6),rgba(41, 44, 54, 0.6));
  }
  20%,40%,50%,100% {
    background: -webkit-linear-gradient(left bottom,rgba(0, 153, 255, 0.6),rgba(41, 44, 54, 0.6));
    background: -o-linear-gradient(left bottom,rgba(0, 153, 255, 0.6),rgba(41, 44, 54, 0.6));
    background: -mos-linear-gradient(left bottom,rgba(0, 153, 255, 0.6),rgba(41, 44, 54, 0.6));
    background: -moz-linear-gradient(left bottom,rgba(0, 153, 255, 0.6),rgba(41, 44, 54, 0.6));
    background: linear-gradient(left bottom,rgba(0, 153, 255, 0.6),rgba(41, 44, 54, 0.6));
  }
}
@keyframes changeOp{
  from {opacity: 0}
  to {opacity: 1}
}
.ui-home-function .idu-item .id-panel:hover{
  animation: changeBg 1s forwards
}
.ui-home-function .idu-item .id-panel:hover > .title{
  color: #ffffff;
}
.ui-home-function .idu-item .id-panel:hover > .text{
  animation: changeOp 0.5s forwards
}
